.meal-list {
    list-style: none;
    padding: 10px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

@media (max-width: 768px) {
    .meal-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
